
@inject WeaponTypeData  TypeData
@inject WishlistGenerator  Generator

<nav class="navbar fixed-top navbar-expandfloat-left">
    <a class="navbar-brand" href="/">
        <h4 class="m-0">Destiny Wishlister</h4>
    </a>

    <button class="btn btn-secondary generate" data-toggle="modal" data-target="#test-modal" onclick="@OnClick">Generate Wishlist</button>

</nav>


<div class="modal fade @DisplayClass" id="test-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Wishlist Text</h1>
                @if (string.IsNullOrWhiteSpace(strings))
                {
                    <p>Hey stupid, you didn't select anything</p>
                }
                else
                {
                    //var strs = strings.Split(';');

                    @*foreach (var str in strs)
                    {
                        <span>@str</span>
                    }*@

                    <div class="form-group">
                        <textarea class="form-control" rows="10">@strings</textarea>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@functions {

    private string strings { get; set; }

    private string DisplayClass { get; set; }

    private async Task OnClick()
    {
        DisplayClass = "d-none";

        strings = await Generator.Create(TypeData);

        DisplayClass = "";
        this.StateHasChanged();
        Console.WriteLine(strings);
    }
}