@import 'CssMixins/no-select';

.socket {
    @include no-select();

    background-color: transparent;
    border-color: transparent;

    > .card-header {
        margin: 0 0 2px 0;
        font-size: larger;
        color: white;

        background-color: transparent;

        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: .5px;
    }

    > ul > li {
        background-color: transparent;
        border-color: transparent;
    }
}
