@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #627387;
  background: linear-gradient(169deg, #627387 0%, rgba(55, 55, 55, 0.6) 100%); }

app {
  position: relative;
  display: flex;
  flex-direction: row; }

nav {
  background-color: #646464; }
  nav > a.navbar-brand {
    font-size: xx-large;
    color: white; }
    nav > a.navbar-brand:hover, nav > a.navbar-brand:focus {
      color: white; }
  nav .generate:focus {
    outline: none;
    box-shadow: none; }

.sidebar, .main {
  padding-top: 56px; }

.sidebar {
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #0b132b; }

.sidebar-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem; }
  .sidebar-item:first-of-type {
    padding-top: 1rem; }
  .sidebar-item:last-of-type {
    padding-bottom: 1rem; }
  .sidebar-item a {
    color: #d7d7d7;
    border-radius: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem; }
    .sidebar-item a.active {
      background-color: rgba(255, 255, 255, 0.25);
      color: white; }
    .sidebar-item a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: white; }
    .sidebar-item a.active:hover {
      background-color: rgba(255, 255, 255, 0.18);
      color: white; }

.weapon-type {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: none; }
  .weapon-type > .card-header {
    font-size: x-large;
    color: white;
    background: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: .5px; }

.subtype {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0f1a3b;
  border: 0 solid transparent; }
  .subtype > .card-header {
    border: 0 solid transparent; }
    .subtype > .card-header .btn {
      font-size: larger;
      color: white;
      background-color: #0b132b;
      border: 0 solid transparent; }
      .subtype > .card-header .btn:focus, .subtype > .card-header .btn:hover {
        outline: none;
        box-shadow: none;
        z-index: 0; }
      .subtype > .card-header .btn > span {
        transition-duration: 0.25s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg) translatez(0);
        -webkit-transform-origin: 50% 51%;
        -moz-transform-origin: 50% 51%; }
      .subtype > .card-header .btn.collapsed > span.fas {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg) translatez(0);
        -webkit-transform-origin: 50% 51%;
        -moz-transform-origin: 50% 51%;
        transition-duration: 0.4s; }
      .subtype > .card-header .btn.reset {
        border-left: 1px solid #808080; }
        .subtype > .card-header .btn.reset:hover {
          background-color: rgba(255, 255, 255, 0.2); }

.socket {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border-color: transparent; }
  .socket > .card-header {
    margin: 0 0 2px 0;
    font-size: larger;
    color: white;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: .5px; }
  .socket > ul > li {
    background-color: transparent;
    border-color: transparent; }

.perk {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white; }
  .perk.checked {
    background-color: #3a506b; }
  .perk:hover {
    cursor: pointer; }
  .perk > img {
    width: 10%;
    height: 10%; }
