.App {
    text-align: left;
}

.App-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    background-color: #222;

    font-size: 30px;
    color: white;
}

.App-header > p {
    margin: 0;
}

.App-header > button {
    background-color: lightgray;
    border: none;
    border-radius: 1px;
}


.App-body {
    display: flex;
    justify-content: center;

    background-color: #627387;
}

body {
    font-family: "Verdana", sans-serif;
}