
.socket {


    margin: 5px 10px;
}

.socket-name {
    color: white;
    padding: 2px 0px;
    margin: 0 0 2px 0;
    user-select: none;

    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: .5px;
}

.socket-perks {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0px;
    margin: 0px;
}