

.subtype {
    padding: 5px;
    margin: 5px 5px 5px 20px;

    background-color: #0b132b;

    border-style: solid;
    border-color: #0b132b;
    border-radius: 2px;
}

.subtype-name {
    padding: 0 0 5px 5px;

    color: white;
    font-size: 18px;
    user-select: none;
}

.subtype-sockets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    list-style: none;
    padding: 0px;
    margin: 0px;
}