
.weapon {
    width: fit-content;
    padding: 5px;

    background-color: #3a506b;

    border-style: solid;
    border-color: #3a506b;
}

.weapon-name {
    padding: 0 0 5px 5px;

    color: white;
    font-size: 20px;
}

.weapon-subtypes {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0px;
    margin: 0px;
}